<p id="notice"><%= notice %></p>

<h1>Rituals</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rituals.each do |ritual| %>
      <tr>
        <td><%= ritual.title %></td>
        <td><%= ritual.description %></td>
        <td><%= link_to 'Show', ritual %></td>
        <td><%= link_to 'Edit', edit_ritual_path(ritual) %></td>
        <td><%= link_to 'Destroy', ritual, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ritual', new_ritual_path %>
